if Caption
    figure(class=CaptionBlockStyle).flex.figure
        img(class=ClassName, style=style, src=Src, alt=Alt).image
        figcaption(class=CaptionStyle)= Caption 
else
    img(class=ClassName, style=style, src=Src, alt=Alt).image
