.message(class=className, style=style, id=id).flex
    if (avatar != '')
        .message__avatar
    .message__content.flex
        if (nickname != '')
            span.message__nickname= nickname
        if (image != '')
            .message__image
        if (body != '')
            .message__body= body
